# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# Data/artifacts
artifacts/
reports/figures/
reports/metrics/

# OS / editor
.DS_Store
.vscode/
/docs
